.well-link{
    cursor:pointer;
}
.s-nav-stacked{
    li{
        width: 100%;
        display: block;
        margin-left: 0px !important;
        margin-bottom: 2px;
        a{
            width: 100%;
            display: block;
            margin-left: 0px !important;
            margin-bottom: 2px;
        }
    }
}